{% extends 'base.html' %}
{% block title %} {{ block.super }}: Главная
{% endblock %}

{% block content %}


<div class="raw mx-5 font100">
  <div class="col-12 ms-2">
    <h2 class="text-center font-bgc"><small class="font150">Приложение</small> DATA-Y <br><small class="font150"> поиск
        и анализ аномалий в начислениях за тепловую энергию<br> </small></h2>



    <p>Приложение используется для анализа отчетов потребления тепловой энергии с целью выявления случаев ошибочно внесённых показаний, а также случаев аномально низкого потребления тепловой энергии. </p>
    <p>Данная система анализирует данные о потреблении тепловой энергии и выявляет аномальные начисления с использованием модели искусственного интеллекта (ИИ). </p>
    <h5 class="font150-b my-3 font-bgc fst-italic"><u>Состав разделов приложения:</u></h5>
    <hr style="border: 2px solid #667893">
    
    <dl class="row">
      <dt class=" col-sm-3 ">Справочник по объектам потребления (Объекты)</dt>

      <dd class="col-sm-9">
        <p>представленная база данных объектов </p>
        <p>база данных объектов, дополненная объектами  учета потребления, которых не было в предоставленной базе</p>

      </dd>
      <hr style="border: 2px solid #667893">

      <dt class="col-sm-3">Данные по потреблению тепловой энергии</dt>
      <dd class="col-sm-9">
        <p>данные по потреблению за отчетный месяц
        </p>
        <p>объекты с нулевыми значениями показаний за тепловую энергию за отчетный период </p>
        <p>данные по потреблению за ВСЕ периоды</p>

        <p> объекты с нулевыми значениями показаний за тепловую энергию за ВСЕ периоды</p>
        <p> потребление многоквартирных домов с индикатором отклонения от медианы более чем на 25% (за каждый период) - ВСЕ периоды</p>
      </dd>
      <hr style="border: 2px solid #667893">
      <dt class="col-sm-3 ">Анализ данных по потреблению</dt>

      <dd class="col-sm-9">
        <p>равные значения показаний в течение нескольких расчетных периодов</p>
        <p>выборка данных по объекту за ВСЕ периоды</p>
        <p>выбор нулевых данных за заданный период</p>
        <p>объекты без данных по потреблению (за ВСЕ периоды)</p>
        <p>потребление многоквартирных домов с индикатором отклонения от медианы более чем на 25% (за заданный период) </p>



      </dd>

      <hr style="border: 2px solid #667893">
      <dt class="col-sm-3 ">Результаты анализа данных по потреблению с использованием ML</dt>

      <dd class="col-sm-9">
        <p>индикаторы аномалий всех объектов за каждый период</p>
        <p>многоквартирные дома с аномальным потреблением за месяц с учетом PCA коэффициентов.</p>
        <p>отклонения от значений предсказанных эталонной моделью</p>
        <p>выборка объектов с аномалиями по заданным условиям</p>



      </dd>
      <hr style="border: 2px solid #667893">
      <dt class="col-sm-3 ">Сервис<br> (доступен только администратору приложения)</dt>

      <dd class="col-sm-9">
        <h6>Загрузка данных:</h6>
        <ul>
          <li>загрузить данные потребления
            тепловой
            энергии за отчетнай месяц;</li>
          <li>загрузить данные об объектах
            потребления
            тепловой
            энергии;</li>
          <li>загрузить результаты расчета ML-моделью индикаторов аномальности потребления за месяц;</li>
          <li>загрузить результаты расчета ML-модели прогноза потребления за период</li>
        </ul>
        <h6>Расчет аномальных данных:</h6>
        <ul>
          <li>пересчитать равные значения показаний по периодам;</li>
          <li>порядок расчета аномального потребления по объектам:</li>

          <ol>

            <li>добавить в базу объектов новые
              объекты / объекты из отчетов по
              потреблению</li>
            <li>добавить данные объектов (этажность, год постройки, площадь) в данные
              по
              потреблению</li>
            Для подготовки данных и рассчета аномально низкого/высокого потребления выполнить:
            <li>создать группы объектов
              (apartment_object_group)</li>
            <li>рассчитать границы аномального потребления за месяц в разрезе групп.</li>
          </ol>

        </ul>

        <h6>Прочие сервисы:</h6>
        <ul>
          <li>вывести данные по различным отчетам в файл .xlsx ( доработка при необходимости) </li>
        </ul>



      </dd>
      <hr style="border: 2px solid #667893">
      <dt class="col-sm-3 ">Админка<br> (будет доступен только администратору приложения)</dt>

      <dd class="col-sm-9">
        <p>данные по объектам - потребителям теповой энергии;</p>
        <p>данные по потреблению теповой энергии объектами;</p>
        <p>возможность импорта-экспорта данных по объектам и по потреблению тепловой энергии;</p>
        <p>возможность предоставлять разные уровни доступа для пользователей </p>



      </dd>
      <hr style="border: 2px solid #667893">

    </dl>
  </div>
</div>

{% endblock %}