{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ block.super }}:in dev
{% endblock %}


{% block content %}
<div class="container col-12 mx-auto mb-3 content">
    <!-- <div class="text-center my-4"> <img src="{% static 'logo/s.jpg' %}" alt="logo" height="60"></div> -->

    <h2 class="text-center">Анализ аномалий в начислениях за тепловую энергию</h2>
    
    <div>
        <h5>Виды аномалий по показаниям приборов учёта тепловой энергии, которые необходимо выявлять (кроме объектов с видом энергопотребления ГВС (централ)):</h5>
        <ol>
            <li class="mt-3 ">нулевые значения показаний за тепловую энергию в отопительный период (октябрь-апрель);</li>
            <li class="mt-3 ">равные значения показаний в течение нескольких расчетных периодов;</li>
            <li class="mt-3">снижение/рост показаний в отдельные месяцы по сравнению с показаниями за предыдущие периоды по данному объекту (с учётом фактической температуры наружного воздуха и количества отопительных дней в месяце);</li>
            <li class="mt-3">аномально низкое/высокое (отклонение более 25%) потребление объекта в конкретном месяце по сравнению с аналогичными объектами (только для типов объекта «Многоквартирный дом») по критериям:
                <ul class="mt-3">
                    <li>год постройки (по группам до 1958 г., 1959-1989 гг., 1990-2000 гг., 2001-2010 гг., 2011-2024 гг.), </li>
                    <li>этажность (по группам 1-2 этажа, 3-4 этажа, 5-9 этажей,10-12 этажей, 13 и более этажей),</li>
                    <li>площадь (±10%), </li>
                    <li>наличие ГВС ИТП (горячей воды, учитываемой тем же прибором). </li>
                </ul>

            </li>
        </ol>
        <h6>Примеры аномалий:</h6>
    1. Нулевые значения показаний за тепловую энергию в отопительный период (октябрь-апрель)<br>
    Уфа
231719
ГВС-ИТП
г Уфа, ул. Индустриальное шоссе, д.32
Другое строение
31.01.2022
(отсутствует показание за период) 
<br>2. Равные значения показаний в течение нескольких расчетных периодов
<br>3. Снижение/рост показаний в отдельные месяцы по сравнению с показаниями за предыдущие периоды по данному объекту
        
    </div>
    <hr>
<div>
   
</div>

</div>


{% endblock %}