{% extends 'base.html' %}

{% block title %} {{block.super}}: за период{% endblock %}



{% block content %}
{% if items %}

<div class="col-12 mx-auto">
    <h3>Данные по объектам без указания потребления тепловой энергии.</h3><span>Всего позиций: {{items.count}}, период c <b>{{last_date|date:"M-Y"}}</b> по <b>{{first_date|date:"M-Y"}}</b></span>

    <table class="table table-striped demotable">
        <thead style="position: sticky;
  top: -1px;
  z-index:1;background: #9d9e9e; font-size:14px">
            <tr>
                <th scope="col">Период</th>
                <th scope="col">Подраз-ние</th>
                <th scope="col">№ ОДПУ</th>
                <th scope="col">Вид энерг-а ГВС</th>
                <th scope="col">Адрес объекта</th>
                <th scope="col">Тип объекта</th>
                <th scope="col">Дата текущего показания</th>
                <th scope="col">Текущее потребление, Гкал</th>
                
                
                


            </tr>
        </thead>
        <tbody style="font-size:12px">
            {% for item in items%}
            <tr>
                <th score="row">{{item.period|date:"M-y"}}</th>
                <td>{{item.subunit}}</td>
                <td>{{item.odpu_number}}</td>
                <td>{{item.energy_type}}</td>
                <td>{{item.address}}</td>
                <td>{{item.object_type}}</td>
                <td class="text-center">{{item.current_date|date:"d-m-y"}}</td> 

                <td class='text-danger text-center data_no'>{{item.current_consumption}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <!-- Card -->
        <div class="card-body ">
          <h5>Выбор периода для показа объектов без указания потребления тепловой энергии</h5>
          <p>
            Выберите начало периода, конец периода:
          </p>
        </div>
        <div id="pay-invoice">
          <div class="card-body">
            <form action="#" method="post" novalidate="novalidate">

              {% csrf_token %}


              <div class="form-group">
                <label for="name" class="control-label mb-1">Начало периода &nbsp &nbsp &nbsp
                  &nbsp</label>
                {{ form.first_date }}
              </div>

              <div class="form-group">
                <label for="name" class="control-label mb-1">Конец периода &nbsp &nbsp &nbsp &nbsp
                  &nbsp </label>
                {{ form.last_date }}
              </div>
             <p>Для справки:</p>
              <ul>
                <li><b>{{last_period}}</b> - первый период в базе данных</li>
                <li><b>{{first_period}}</b> - последний период в базе данных</li>                
              </ul>
              <div>
                <button  type="submit" class="btn btn-info btn-block">
                  <span >Выбрать</span>
                </button>
              </div>


            </form>
          </div>
        </div>
       

      </div>
    </div> <!-- .card -->
    
  </div>
  <!--/.col-->
</div>
{% endif %}
{% endblock content %}