{% load static %}
{% load bootstrap5 %}


<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'logo/loro.png' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap" rel="stylesheet">
   
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">




    <title>{% block title %}WMS{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>

    <!-- messages -->
    {% if messages %}

    {% for message in messages %}

    {% if message.tags == 'error' %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% else %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endif %}

    {% endfor %}

    {% endif %}
    <!-- End messages -->



    <div class="mt-1 mx-3">

        {% block content %}CONTENT{% endblock %}

    </div>

    <!-- pagination -->
    <div class="pagination">
        <div class="">
            <span>
                {% if page_obj.has_other_pages %}
                {% if page_obj.has_previous %}
                <a class='pagination_a' href="?page=1">первая</a>
                <a class='pagination_a' href="?page={{ page_obj.previous_page_number }}">&laquo;&laquo;</a>
                {% endif %}

                <span class="current">
                    стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a class='pagination_a' href="?page={{ page_obj.next_page_number }}">&raquo;&raquo;</a>
                <a class='pagination_a' href="?page={{ page_obj.paginator.num_pages }}">последняя</a>
                {% endif %}
                {% endif %}
            </span>
        </div>
    </div>
    <!-- end pagination -->
    </div>



</body>

</html>